<!-- templates/inventory/inventory_list.html -->
{% extends 'base.html' %}

{% block title %}Inventory List{% endblock %}

{% block content %}
    <h1>Inventory List</h1>
    <a href="{% url 'inventory:inventory_create' %}">Create New Inventory Item</a>
    <ul>
        {% for inventory in inventories %}
            <li>
                <a href="{% url 'inventory:inventory_detail' inventory.pk %}">{{ inventory.name }}</a> - Quantity: {{ inventory.quantity }} {{ inventory.unit }}
                <a href="{% url 'inventory:inventory_update' inventory.pk %}">Edit</a>
                <a href="{% url 'inventory:inventory_delete' inventory.pk %}">Delete</a>
            </li>
        {% empty %}
            <li>No inventory items yet.</li>
        {% endfor %}
    </ul>
{% endblock %}
