[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
djangorestframework = "~=3.14.0" # Use DRF 3.14.x
django-cors-headers = "*"
djangorestframework-simplejwt = "*"
django-filter = "*"
django-unfold = "*"
drf-yasg = "*"
django = {extras = ["argon2"], version = "*"}

[dev-packages]

[requires]
python_version = "3.9"
