[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
djangorestframework = "~=3.14.0" # Use DRF 3.14.x
django-cors-headers = "*"
djangorestframework-simplejwt = "*"
django-filter = "*"
django-unfold = "*"
drf-yasg = "*"
django = {extras = ["argon2"], version = "*"}
pillow = ">=9.0.0"
pyinstaller = "==6.1.0"
pywin32 = "==306"
python-decouple = "==3.8"

[dev-packages]

[requires]
python_version = "3.9"
