<!-- templates/order/menuitem_detail.html -->
{% extends 'base.html' %}

{% block title %}Menu Item Detail{% endblock %}

{% block content %}
    <h1>Menu Item Detail</h1>
    <p>Name: {{ menu_item.name }}</p>
    <p>Description: {{ menu_item.description }}</p>
    <p>Price: {{ menu_item.price }}</p>
    <p>Category: {{ menu_item.category }}</p>
    <p>Available: {% if menu_item.is_available %}Yes{% else %}No{% endif %}</p>
    <a href="{% url 'order:menuitem_update' menu_item.pk %}">Edit</a>
    <a href="{% url 'order:menuitem_delete' menu_item.pk %}">Delete</a>
{% endblock %}
