<!-- templates/order/order_list.html -->
{% extends 'base.html' %}

{% block title %}Order List{% endblock %}

{% block content %}
    <h1>Order List</h1>
    <a href="{% url 'order:order_create' %}">Create New Order</a>
    <ul>
        {% for order in orders %}
            <li>
                <a href="{% url 'order:order_detail' order.pk %}">Order {{ order.id }}</a> - {{ order.order_status }} - {{ order.amount }}
                <a href="{% url 'order:order_update' order.pk %}">Edit</a>
                <a href="{% url 'order:order_delete' order.pk %}">Delete</a>
            </li>
        {% empty %}
            <li>No orders yet.</li>
        {% endfor %}
    </ul>
{% endblock %}
