<!-- templates/order/reservations_list.html -->
{% extends 'base.html' %}

{% block title %}Reservation List{% endblock %}

{% block content %}
    <h1>Reservation List</h1>
    <a href="{% url 'order:reservations_create' %}">Create New Reservation</a>
    <ul>
        {% for reservation in reservations %}
            <li>
                <a href="{% url 'order:reservations_detail' reservation.pk %}">Reservation for {{ reservation.amount_of_customers }} at {{ reservation.reservation_time }}</a>
                <a href="{% url 'order:reservations_update' reservation.pk %}">Edit</a>
                <a href="{% url 'order:reservations_delete' reservation.pk %}">Delete</a>
            </li>
        {% empty %}
            <li>No reservations yet.</li>
        {% endfor %}
    </ul>
{% endblock %}
